<header>
    <title>
        21st Century Fitness
    </title>
</header>

<div class="container-fluid z-index-n1 ">
    <div class="row">
        <div class=" body-image">

        </div>
        <h1 class="text-center">
            Welcome to 21st Century Fitness!
        </h1>
        <div class="container card h-100 text-center  " style="width: 26rem;">
            <h2 class="card home-card">
                Plan out exercise course with the "Exercise" tab, or track your progress from "Profile"
            </h2>
            <h2 class="card home-card">
                Track your progress from "Profile"
            </h2>
            <h2 class="card home-card">
                Remember to record your progress in "schedual"
            </h2>
        </div>
    </div>
</div>