<h2>Sample data from the category table</h2>

<div class="row">
  <div class="col-4">
    {{#each categories as |category| }}
      <ul class="list-group">
        <li class="list-group-item">
          <input type="checkbox" class="form-check-input me-1" value={{category.id}}>
          {{category.name}}
        </li>  
      </ul>
    {{/each}}
   </div>

    <div class="col-4">
       {{#each categories as |category| }}
      <ul class="list-group">
        <li class="list-group-item">
          <input type="radio" name="exercise_cat" class="form-check-input me-1" value={{category.id}}>
          {{category.name}}
        </li>  
      </ul>
      {{/each}}
   </div>
   
</div>