<header>
    <title>
        21st Century Fitness
    </title>
</header>

<div class="container-fluid z-index-n1 ">
    <div class="row">
        <div class=" body-image">

        </div>
        <h1 class="text-center">
            Welcome to 21st Century Fitness!
        </h1>
        <div class="container card h-100 text-center">
            <div class="row p-3">
                <div class=" card col my-2 mb-1 home-card">
                    <div class="card-header">
                        <h3>Make your Plan</h3>
                    </div>
                    <div class="card-body">
                        {{!-- <h5 class="card-title">Special title treatment</h5> --}}
                        <p class="card-text">
                            Plan out exercise course with the "Exercise" tab, or track your progress from "Profile"
                        </p>
                        
                    </div>
                </div>

                <div class=" card col my-2 mb-1 mx-3 home-card">
                    <div class="card-header">
                        <h3>See how far you've come</h3> 
                    </div>
                    <div class="card-body">
                        {{!-- <h5 class="card-title">Special title treatment</h5> --}}
                        <p class="card-text">
                            Track your progress from "Profile"
                        </p>
                        
                    </div>
                </div>
                <div class=" card col my-2 mb-1 home-card">
                    <div class="card-header">
                        <h3>Today's Workout</h3>
                    </div>
                    <div class="card-body">
                        {{!-- <h5 class="card-title">Special title treatment</h5> --}}
                        <p class="card-text">
                            Remember to record your progress in "Schedule"
                        </p>
                       
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>