
    <header>
        <title>
            Fitness
        </title>
        <h1>Work in progress</h1>
    </header>
    <!-- I'm going to use divs for now and sort out what they can be specified to later -->
    <div>
        {{!--stand ins not included for data pulls  --}}
    <div class="planning button">
        <h2> Exercise Planning</h2>
    </div>
    <div>
        <img src="./assets/gif" class="gif" alt="Instructional gif for current Exercise">
    </div>
    <div class="card date">
        <h2> target text for time-date</h2>
    </div>
    <div class="exercises">
        <h2> Exercise number</h2>

        <div>
            <h3> Number in series</h3>
        </div>
    </div>
    