<header>
    <title>
        21st Century Fitness
    </title>
</header>

<div class="container-fluid z-index-n1 ">
    <div class="row">
        <div class=" body-image">
           
        </div>
 <h1 class="text-center">
                Welcome to 21st Century Fitness!
            </h1>
            <h2>
                Plan out exercise course with the "Exercise" tab, or track your progress from "Profile"
            </h2>
    </div>
</div>