<div class="row justify-content-between">
  <div class="col-md-5 p-4 form-border border border-light rounded">
    <h2 class="mb-4">Login</h2>

    <form class="form login-form">
      <div class="form-group mb-2">
        <label for="email-login" class="form-label text-light">E-mail:</label>
        <input class="form-input form-control" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login" class="form-label text-light">Password:</label>
        <input class="form-input form-control" type="password" id="password-login" />
      </div>
      <div class="d-grid gap-2 mt-5">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>

  <div class="col-md-5 p-4 form-border border border-light rounded mt-3">
    <h2 class="mb-4">Signup</h2>

    <form class="form signup-form mt-3">
      <div class="row">
        <div class="form-group mb-2 col">
          <label for="fname-signup" class="form-label text-light">First Name:</label>
          <input class="form-input form-control" type="text" id="fname-signup" />
        </div>
         <div class="form-group mb-2 col">
          <label for="lname-signup" class="form-label text-light">Last Name:</label>
          <input class="form-input form-control" type="text" id="lname-signup" />
        </div>
      </div>
      
      <div class="form-group mb-2">
        <label for="email-signup" class="form-label text-light">E-mail:</label>
        <input class="form-input form-control" type="text" id="email-signup" />
      </div>
      <div class="form-group mb-2">
        <label for="password-signup" class="form-label text-light">Password:</label>
        <input class="form-input form-control" type="password" id="password-signup" />
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Signup</button>
      </div>
    </form>
  </div>
  
</div>

<script src="./js/login.js"></script>